/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

/* Root values */
:root{
    --white: #ffffff;
    --colorBlack: #121212;
    --colorGrey: #2a2a2a;
    --colorBlue: rgb(0, 140, 255);
    --fontFamily: "Playfair Display";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all 0.2s linear;
}
::selection{
    background-color: var(--colorBlue);
    color: var(--white);
}
html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: var(--white);
    border-radius: 5px;
}

html::-webkit-scrollbar-thumb{
    background: var(--colorGrey);
    border-radius: 5px;
}
body{
    background: var(--colorBlack);
}
section{
    min-height: 100vh;
    padding: 1rem 7%;
    padding-top: 6rem;
}
.heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top:0; left: 0;
    z-index: 1000;
    padding:1.5rem 7%;
    background: none;
    border-bottom: 1.5px solid var(--white);
}

header .logo{
    color:#fff;
    text-decoration: none;
    text-align: center;
    margin-right: 3rem;
}
header .logo span:first-child{
    font-size: 2.5rem;
    text-transform: uppercase;
}
header .logo span:last-child{
    font-size: 2rem;
}
header .phone-number{
    color: var(--white);
    font-size: 1.5rem;
}
header .navbar #menu {
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
}

header .navbar ul{
    position: absolute;
    top: 7rem;
    left: -14rem;
    display: none;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: rgba(0,0,0,0.3);
    border-radius: 7px;
    box-shadow: -3px 3px 7px #fff;
}
header .navbar ul.active{
    display: block;
}

header .navbar ul li{
    margin: 2.5rem 2.5rem 2.5rem 1rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color: var(--white);
    text-decoration: none;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:#444;
}

.home{
    background-image: url("../images/bg-1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 230vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}
.home .content{
    height: 100%;
    position: absolute;
    top: 30%;
    left: 7%;
}
.home .content .line-1 {
    font-size: 2rem;
    color: #ccc;
    font-family: 'Lato', sans-serif;
}
.home .content .line-2{
    font-family: 'Playfair Display', serif;
    font-size: 7rem;
}
.home .content .line-3{
    font-size: 2rem;
    margin: 1rem 0 2rem 0;
    color: #bebbbb;
}
.home .content a{
    margin-top: 2rem;
    padding: 2rem 4rem;
    font-size: 2rem;
    border-radius: 15px;
    box-shadow: 6px 6px 12px rgba(255, 255, 255,0.3);
    background-color: var(--white);
}
.home .content a:hover{
    box-shadow: 8px 8px 12px rgba(255, 255, 255,0.3);
}
.home .box-container{
    position: absolute;
    top: 100%;
    width: 100%;
}
.home .content-box{
    width: 400px;
    color: #fff;
    font-size: 1.75rem;
    letter-spacing: 2px;
    font-family: 'Lato', sans-serif;
    border: 1px solid var(--white);
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
}
.home .content-box > span{
    position: absolute;
    z-index: 3;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--white);
    /* background-color: #13151a; */
}
.home .content-box > span div{
    position: absolute;
    z-index: 5;
    top: 6.5px;
    left: 6.5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--white);
    background-color: #13151a;;
}

.home .box-1{
    padding: 1.5rem 7rem 1.5rem 1.5rem;
    top: 0;
}
.home .box-2{
    padding: 1.5rem 1.5rem 1.5rem 7rem;
    margin: 4rem 0;
    top: 30vh;
}
.home .box-3{
    padding: 1.5rem 7rem 1.5rem 1.5rem;
    top: 70vh;
}


.home .box-1 span,.home .box-3 span{
    top: -15px;
    right: -15px;
}
.home .box-2 span{
    top: -15px;
}

/* Portfolio Section */
.portfolio{
    position: relative;
}
.portfolio .portfolio-heading{
    width: 100%;
    position: absolute;
    top: 2vh;
    left: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}
.portfolio .title{
    width: 70%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.75rem;
    padding: 1.2rem 1rem;
    color: var(--white);
    border-bottom: 1px solid var(--white);
}
.portfolio-gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    position: absolute;
    top: 22%;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 40px #ccc;
}
.portfolio-gallery .photo{
    width: 24%;
    box-shadow: 0 0 5px 2px #fff;
    margin-bottom: 1rem;
}
.portfolio-gallery .photo:hover{
    box-shadow: 0 5px 10px #fff;
}
.portfolio-gallery .photo img{
    width: 100%;
    height: 100%;
}
.photosession-types{
    display: block;
    width: 100%;
    position: absolute;
    top: 115%;
    left: 0;
}
.photosession-types .family{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    color: var(--white);
    margin-bottom: 10vh;
}
.photosession-types .family img{
    width: 50%;
    box-shadow: 0 0 15px #909090;
}

.img-odd{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.img-even{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.photosession-types .family .txt{
    width: 50%;
    display: block;
    text-align: center;
    margin-top: 25vh;
    font-family: 'Lato',sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}
.photosession-types .family .txt h1{
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 4rem;
}
.photosession-types .family .txt .txt-content{
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 2px;
}



/* Media queries */
@media (min-width: 1200px) {
    html{
        font-size: 72%;
    }
    .content .line-2{
        font-size: 7.5rem;
    }
    .home .content-box{
        width: 450px;
        font-size: 2rem;
        padding: 1.5rem 7rem 1.5rem 1.5rem;
    }
    .home .box-1{
        top: 2vh;
        padding: 1.5rem 7rem 1.5rem 1.5rem;
    }
    .home .box-2{
        text-align: right;
        top: 34vh;
        right: 15vw;
        padding: 1.5rem 1.5rem 1.5rem 7rem;
    }
    .home .box-2 span {
        left: -15px;
    }
    .home .box-3{
        top: 85vh;
        padding: 1.5rem 7rem 1.5rem 1.5rem;
    }
    .photosession-types{
        top: 115%;
    }
}
@media (min-width: 768px) and (max-width: 1199.99px) {
    html{
        font-size: 68%;
    }
    .content .line-2{
        font-size: 7rem;
    }
    .home .content-box{
        width: 400px;
        font-size: 2rem;
        padding: 1.5rem 5rem 1.5rem 1.5rem;
    }
    .home .box-1{
        top: 2vh;
        padding: 1.5rem 5rem 1.5rem 1.5rem;
    }
    .home .box-2{
        text-align: right;
        top: 31vh;
        right: 10vw;
        padding: 1.5rem 1.5rem 1.5rem 5rem;
    }
    .home .box-2 span {
        left: -15px;
    }
    .home .box-3{
        top: 83vh;
        padding: 1.5rem 5rem 1.5rem 1.5rem;
    }
    .portfolio-gallery .photo{
        width: 49%;
        margin-bottom: 2rem;
    }
    .photosession-types{
        top: 280vh;
    }
    .photosession-types .family .txt{
        margin-top: 15vh;
        font-size: 70%;
    }
}
@media (min-width: 441px) and (max-width: 767.99px) {
    html{
        font-size: 54%;
    }
    .content .line-2{
        font-size: 6rem;
    }
    .home .content-box{
        width: 60%;
        font-size: 2rem;
        padding: 1.5rem 2rem 1.5rem 1.5rem;
    }
    .home .box-1{
        top: 1vh;
    }
    .home .box-2{
        text-align: right;
        top: 28vh;
        right: 10vw;
    }
    .home .box-2 span {
        left: -15px;
    }
    .home .box-3{
        top: 72vh;
    }
    .portfolio-gallery .photo{
        width: 99%;
        margin-bottom: 2rem;
    }
    .photosession-types{
        top: 610vh;
    }
    .photosession-types .family{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5rem;
    }
    .family-odd{
        flex-direction: column-reverse;
        border-radius: 0;
    }
    .family-even{
        flex-direction: column;
        border-radius: 0;
    }
    .photosession-types .family img, .photosession-types .family .txt{
        width: 100%;
        margin: 2rem 0;
    }
}
@media (max-width: 441px) {
    html{
        font-size: 46%;
    }
    .content .line-2{
        font-size: 4rem;
    }
    .home .content-box{
        width: 85%;
        font-size: 2.5rem;
        padding: 1.5rem 2rem 1.5rem 1.5rem;
    }
    .home .box-1{
        top: 2vh;
    }
    .home .box-2{
        text-align: left;
        top: 30vh;
        padding: 1.5rem 2rem 1.5rem 1.5rem;
    }
    .home .box-3{
        top: 72vh;
    }
    .home .box-2 span {
        right: -15px;
    }
    .portfolio-gallery .photo{
        width: 99%;
        margin-bottom: 2rem;
    }
    .photosession-types{
        top: 360vh;
    }
    .photosession-types .family{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5rem;
    }
    .family-odd{
        flex-direction: column-reverse;
        border-radius: 0;
    }
    .family-even{
        flex-direction: column;
        border-radius: 0;
    }
    .photosession-types .family img, .photosession-types .family .txt{
        width: 100%;
        margin: 2rem 0;
    }
    
}