/* Root values */
:root{
    --white: #ffffff;
    --colorBlack: #121212;
    --colorGrey: #2a2a2a;
    --fontFamily: "Playfair Display";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all 0.2s linear;
}
